{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/password.css' %}">
    <title>Details</title>
</head>
<body>
{% if error_msg %}
    <div class="alert alert-danger">{{ error_msg }}</div>
{% endif %}
<form method="post" action="">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>
{% endblock content %}