{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/password.css' %}">
    <title>New password</title>
</head>
<body>
<h3>Change Password</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% if error_msg %}
    <div class="alert alert-danger">{{ error_msg }}</div>
{% endif %}
</body>
</html>
{% endblock content %}