
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left:297px;
  margin-right:297px;
  box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.3);
  border: 2px solid white;
  padding: 50px;



}

form input {
  flex: 1;
  height: 36px;
  padding: 6px 12px;
  margin-right:190px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form label {
  width: 200px;
  text-align: right;
  margin-right: 9px;
}

h3{
padding-top:30px;
padding-bottom:10px;
text-align:center;
}

